h1 {
  text-align: center;
  color: rgb(125, 2, 240);
}
form {
  text-align: center;
  color: azure;
}

.intro {
  max-width: 600px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(1, 1, 34);
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
